h1{
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border:  2px dotted red;
    background-color: green;
    align-content: center;
}